
.dart_tool/package_config.json
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.packages

.dart_tool/package_config.json
.dart_tool/package_config.json
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.packages

pubspec.lock

.packages
bin/BlackJack.dart
.idea/libraries/Dart_SDK.xml
.idea/libraries/Dart_Packages.xml
.dart_tool/package_config.json

.dart_tool/package_config.json
.idea/libraries/Dart_SDK.xml
.packages

.idea/libraries/Dart_Packages.xml
